*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:200vh;
    min-width:100vw;
    display:flex;
    flex-direction: column;
}
header{
    background-color:#fff;
    display:inline-block;
    position:fixed;
    height:100px;
    min-width:100vw;
    box-shadow:5px 0px 5px black;
    animation-name:dropdown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes dropdown{
    from{transform:translateY(-100%)}
    to{transform:translateY(0)}
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:15px;
    padding-left:30px;
    font-size:1.6rem;
    white-space:nowrap;
    cursor:default;
}
.navibar{
    list-style-type: none;
    position:fixed;
    font-size:2.4rem;
    left:65vw;
    top:30px;
    white-space:nowrap;
}
.navi{
    color:black;
    display:inline-block;
    padding:10px;
    text-align:center;
    padding-left:20px;
    padding-right: 20px;
}

a{
    color:black;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
a:hover{
    cursor:pointer;
    color:#434343;
}
main{
    min-height:200vh;
    background-image: linear-gradient(to bottom,#fff,);
}