*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face{
    font-family:'NORENOIA';
    src: url(ModerniseDemoRegular.ttf);
}
body{
    min-width:100vh;
    min-height:100vh;
    display:flex;
    flex-direction: column;
    background-image:linear-gradient(to bottom, #968aec,#c4c2f3);
}
header{
    flex:1;
}
.title{
    background-image:linear-gradient(to right,#a323df,#6d63bc);
    color:white;
    padding-left:5vh;
    font-family: NORENOIA;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 20x;
    padding:3vh;
}
.navigation{
    background-color:#040043;
}
.ribbon{
    list-style-type: none;
    text-align: center;
    font-family: sans-serif;
    padding:2vh;
}
.navi{
    display:inline-block;
    padding-left:2vh;
    padding-right:1vh;
    padding:2vh;
    cursor:pointer;
}
a{
    color:#c3c3c3;
    text-decoration: none;
}
a:hover{
    color:#dddddd;
}
.backseat{
    font-size: 40vh;
    padding-top: 40vh;
    padding-bottom: 40vh;
}

