*{
    margin:0;
    border:0;
    padding:0;
    box-sizing: border-box;
}
body{
    min-height:100vh;
    min-width:100vw;
    display:flex;
    flex-direction: column;
}
@media (min-width:875px){
    body{
        background: url(emptyspaces.png) no-repeat center top fixed;
        background-size: cover;
    }
}
@media (max-width:875px){
    body{
        background: url(emptyspaces.png) no-repeat center top fixed;
        background-size: auto;
    }
}
header{
    z-index: 30;
    background-color:#000;
    display:inline-block;
    position:fixed;
    height:100px;
    min-width:100vw;
    box-shadow:5px 0px 5px #9400cd;
    animation-name:dropdown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
}
@keyframes dropdown{
    from{transform:translateY(-100%)}
    to{transform:translateY(0)}
}
.title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding:15px;
    color:white;
    padding-left:30px;
    font-size:1.6rem;
    white-space:nowrap;
    cursor:default;
}
.navibar1{
    list-style-type: none;
    position:fixed;
    font-size:2.4rem;
    left:65vw;
    top:30px;
    white-space:nowrap;
}
.navi1{
    color:white;
    display:inline-block;
    padding:10px;
    text-align:center;
    padding-left:20px;
    padding-right: 20px;
}
.navibar2{
    background-color:#160020;
    margin-top:101px;
    padding:2.5px;
    box-shadow:5px 0px 5px #9400cd;
    position:fixed;
    min-width:100vw;
    z-index:10;
}

.navi2{
    font-size:2rem;
    margin:0.5px;
    border:solid 1.5px #f1f1f1;
}
.navi1 a{
    color:white;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.navbar-drop{
    display:inline-block;
    position: relative;
    width:60px;
    height:60px;
    background-color:transparent;
    z-index:100;
    bottom:80px;
    left:90vw;
    cursor:pointer;
}
.hamburger-blue{
    width:60px;
    position:absolute;
    top:0px;
}
.hamburger{
    width:60px;
    position:absolute;
    top:0px;
}
.hamburger-blue:hover{
    opacity: 0;
}
.navi1 a:hover{
    cursor:pointer;
    color:#f3f3f3;
}
.navi2 a{
    color:#f1f1f1;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
}
.navi2 a:hover{
    cursor:pointer;
    color:#d2d2d2;
}
@media(max-width:900px){
.navibar2{
    display:none;
}
.navibar2.active{
    display:grid;
    animation:show 0.5s linear forwards;
}
@keyframes show{
    from{transform:translateY(-100%)}
    to{transform: translateY(0);}
}
.navibar1{
    display:none;
}
.navbar-drop{
    display:grid;
}
}
@media(min-width:900px){
#dropbutton{
    display:none;
}
.navibar1{
    display:inline-block;
}
.navbar-drop{
    display:none;
}
}

.intro{
    position:relative;
    text-align:center;
    font-size:3rem;
    color:white;
    top:20rem;
    opacity:0;
    animation-name:float;
    animation-duration: 3.5s;
    animation-delay:.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
    cursor:default;
}
@keyframes float{
    from{transform:translateY(100%); opacity:0}
    to{transform: translateY(0%); opacity:100%}
}
.head1{
    font-family: tahoma;
    font-weight: 200px;
}

.introp{
    padding-top:20px;
    font-size:2.6rem;
    font-weight: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.teamboard{
    position:relative;
    opacity:0;
    display:flex;
    background-color: #252525;
    min-width:100vw;
    min-height:30rem;
    z-index:0;
    top:40rem;
    animation-name:float;
    animation-duration: 5s;
    animation-delay:.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}
.left-team{
    position:relative;
    color:#d3d3d3;
    background-color:#000;
    width:2rem;
    height:20rem;
    margin-top:5rem;
    margin-left:2rem;
}
.left-team:hover{
    background-color: #131313;
    color:#b3b3b3;
}
.about-vtz{
    font-size:2.4rem;
    font-family:verdana;
    padding:5px;
    position: relative;
    top:30rem;
    opacity:0;
    color:white;
    background-color:#131313;
    padding:2em;
    animation-name:float;
    animation-duration: 5s;
    animation-delay:.5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-fill-mode: forwards;
}
.about-vtz p{
    text-align:justify;
}

